<div class="container" style="width: 1000px">
  <div style="padding-top: 15px" class="row">
    <div class="col-md-11">
      <h1 style="margin:0" >Jobs</h1>
      <%= form_tag(jobs_path, method: :get )  do %>
          <%= text_field_tag :search, nil, :class => 'form-control' %>
          <%= submit_tag "Search", class: "btn btn-default"%>
      <% end %>
    </div>
    <% if current_user.try(:admin?) %>
        <div class="col-md-1">
          <a class="btn  btn-default" href=<%= new_job_path %>><span class="glyphicon glyphicon-plus"></span> New</a>
        </div>
    <% end%>
  </div>
  <% if params[:search] %>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr><th>Name</th><th>Title</th></tr>
          <% @jobs.each do |a| %>
              <tr>
                <td><%= link_to a.title, a %></td>
                <td><%= a.title %></td>
              </tr>
          <% end%>
        </table>
      </div>
  <%end%>
  <% if !params[:search] %>
      <a onclick="$('.table-responsive').hide()" href="#">Collapse all</a> |
      <a onclick="$('.table-responsive').show()" href="#">Expand all</a>
      <% @uniqjobs.each do |a| %>
          <a onclick="$(this).next().toggle()" href="#<%=a%>" id="<%=a%>"><h3><%= a %></h3></a>
          <div class="table-responsive">
            <table class="table table-striped">
              <% @job[a].each do |b| %>
                  <tr>
                    <td><%= link_to b.title, b %></td>
                    <td><%= b.jobId %></td>
                    <td><%= b.postingDate %></td>
                    <td><%= b.siteID %></td>
                  </tr>
              <%end%>
            </table>
          </div>
      <% end %>

  <%end%>

</div>