
<form class="form-inline">



  <% if user_signed_in? %>
    <% if current_user.try(:admin?) %>
        <%= button_to 'Edit', edit_job_path(@job),:method => "get", class: "btn btn-default" %>
    <% else %>
        <%= button_to 'Apply', applies_path(:user => current_user.email, :jobId => @job, :date => Time.now), :method => "post", class: "btn btn-default" %>
    <% end %>
<% end %>

</form>

<div class="row">
  <div class="col-md-12">
<p>
  <strong>Jobid:</strong>
  <%= @job.jobId %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @job.department %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Siteid:</strong>
  <%= @job.siteID %>
</p>

<p>
  <strong>Postingdate:</strong>
  <%= @job.postingDate %>
</p>

<p>
  <strong>Fulltime:</strong>
  <%= @job.fullTime %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @job.shift %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @job.qualifications %>
</p>
</div>
</div>