<h1>Dashboard</h1>




<% if current_user.try(:admin?) %>
    <h1>Welcome Admin</h1>
    <% @applications.each do |b| %>
        <tr>
          <td><%= link_to b.user, b %></td>
          <td><%= b.jobId %></td>
          <td><%= b.date %></td>
        </tr>
    <%end%>
<% else %>
    <h1>Welcome User</h1>
    <% @applications.each do |b| %>
        <tr>
          <td><%= link_to @jobs[b.jobId].title, "/jobs/" + b.jobId.to_s %></td>
          <td><%= b.user %></td>
          <td><%= b.date %></td>
        </tr>
    <%end%>
<% end %>

<%= label_tag current_user.name %>




