<div class="row" style="padding-bottom: 50px">
<div class="col-md-12">
<% if current_user.try(:admin?) %>
    <h1>Welcome Admin</h1>

    <% @applications.each do |b| %>
        <tr>
          <td><%= b.user %></td>
          <td><%= b.jobId %></td>
          <td><%= b.date %></td>

        </tr>
            <br>
    <%end%>

<% else %>
    <h1>Welcome <%= current_user.email %></h1>
    <h3>Current Applications</h3>
    <% @applications.each do |b| %>
        <tr>
          <td><%= link_to @jobs[b.jobId].title, "/jobs/" + b.jobId.to_s %></td>
          <td><%= b.user %></td>
          <td><%= b.date %></td>
            <br>
        </tr>
          <br>
    <%end%>
      <br></br>
    <%= button_to 'Edit Profile', edit_user_registration_path,:method => "get", class: "btn btn-default" %>
      <div class="form-group">
        <label>Current Resume</label><br>
        <a href="<%= +current_user.resume.url %>">Current Resume</a>
      </div>


<% end %>


</div>



</div>